<p>Client colors are automatically pulled from client_color_vars.scss on npm start.</p>
<ul class="sg-colors pl-spacer">
  {% for item in items %}
    <li>
      <div class="sg-swatch" style="background: {{item.value}};"></div>
      <div class="sg-info">
        <span>{{item.value}}</span> <br/>
        <code>{{item.name}}</code>
      </div>
    </li>
  {% endfor %}
</ul>
